@charset "utf-8";
/* CSS Document */
body{
	background-color: #7A8B55;
	}
#container{
		height: auto;
		width: 1000px;
		
}
		
#link{
	font-family: gudea;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
}
	
ul {
	list-style: none;
	overflow: hidden;
	background-color: #5B6740
}

li{	
    float: center;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6E7B52
}